In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('./Data/cornell movie-dialogs corpus/movie_lines.txt',sep = ' \+\+\+\$\+\+\+ ', header = None)
data.columns = ['lineID','characterID','movieID','character name','text of the utterance']
data.head()

C:\Users\chao_gu\Anaconda3\envs\nn\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

  lineID characterID movieID character name text of the utterance
0  L1045          u0      m0         BIANCA          They do not!
1  L1044          u2      m0        CAMERON           They do to!
2   L985          u0      m0         BIANCA            I hope so.
3   L984          u2      m0        CAMERON             She okay?
4   L925          u0      m0         BIANCA             Let's go.

In [3]:
movie = pd.read_csv('./Data/cornell movie-dialogs corpus/movie_titles_metadata.txt',sep = ' \+\+\+\$\+\+\+ ', header = None)
movie.columns = ['movieID','movie title','movie year','IMDB rating', 'no. IMDB votes', 'genres']
movie.head()

C:\Users\chao_gu\Anaconda3\envs\nn\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,movieID,movie title,movie year,IMDB rating,no. IMDB votes,genres
0,m0,10 things i hate about you,1999,6.9,62847,"['comedy', 'romance']"
1,m1,1492: conquest of paradise,1992,6.2,10421,"['adventure', 'biography', 'drama', 'history']"
2,m2,15 minutes,2001,6.1,25854,"['action', 'crime', 'drama', 'thriller']"
3,m3,2001: a space odyssey,1968,8.4,163227,"['adventure', 'mystery', 'sci-fi']"
4,m4,48 hrs.,1982,6.9,22289,"['action', 'comedy', 'crime', 'drama', 'thrill..."

In [4]:
ID = movie['movieID']
title = movie['movie title']
id_title = dict(zip(ID,title))

In [5]:
data['movie title'] = data['movieID'].apply(lambda x: id_title[x])

In [10]:
data.groupby('movieID')['text of the utterance'].count()

movieID
m0       668
m1       273
m10      627
m100    1068
m101     641
m102     680
m103     862
m104     740
m105    1214
m106     749
m107     504
m108     413
m109     673
m11      368
m110     327
m111     532
m112     715
m113     481
m114     252
m115     359
m116     261
m117     518
m118     777
m119     810
m12      291
m120     655
m121     439
m122     430
m123     490
m124     654
        ...
m72      985
m73      291
m74      497
m75      454
m76      377
m77     1014
m78      832
m79      552
m8       206
m80      261
m81      185
m82     1160
m83      536
m84      530
m85      116
m86      289
m87      508
m88      824
m89      649
m9       212
m90     1148
m91      303
m92      613
m93      554
m94      695
m95       97
m96      175
m97      347
m98      418
m99      364
Name: text of the utterance, Length: 617, dtype: int64